@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --main-bg: #fff;
  --change-transition: .2s;
  --placeholder-color: #767992;
  --complete-color: #D1D2DA;
  --line-color: #E3E4F1;
  --text-color: #393A4B;
  --shadow-color: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --hover-color: #494C6B;
  --icon-theme: url("../img/icon-moon.svg");
  --form-icon: url("../img/add-light.svg");
  --body-bg: linear-gradient(to right, #d63757, #6a82fb);
}

.dark-theme {
  --main-bg: #25273D;
  --placeholder-color: #767992;
  --complete-color: #4D5067;
  --line-color: #393A4B;
  --text-color: #C8CBE7;
  --shadow-color: 0px 35px 50px -15px rgba(38, 38, 49, 0.5);
  --hover-color: #E3E4F1;
  --icon-theme: url("../img/icon-sun.svg");
  --form-icon: url("../img/add-dark.svg");
  --body-bg: linear-gradient(to right, #a42e46dd, #394689);
}

body {
  transition: var(--change-transition);
  font-family: "Josefin Sans", sans-serif;
  padding: 0 25px;
  background: var(--body-bg);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 70px;
}

.top {
  display: flex;
  justify-content: space-between;
}
.top__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.top__icon {
  transition: var(--change-transition);
  background: var(--icon-theme) no-repeat;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.form {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-color);
  background: var(--main-bg);
  border-radius: 5px;
  padding: 0 24px;
  transition: var(--change-transition);
}
.form__checkicon::before {
  background: var(--form-icon), var(--main-bg);
  transition: var(--change-transition);
}
.form__input {
  transition: var(--change-transition);
  background: var(--main-bg);
  color: var(--text-color);
  padding-left: 24px;
  width: 90%;
  height: 100%;
  font-size: 18px;
}
.form__input::-moz-placeholder {
  letter-spacing: -0.25px;
  color: var(--placeholder-color);
  transform: translateY(1px);
}
.form__input:-ms-input-placeholder {
  letter-spacing: -0.25px;
  color: var(--placeholder-color);
  transform: translateY(1px);
}
.form__input::placeholder {
  letter-spacing: -0.25px;
  color: var(--placeholder-color);
  transform: translateY(1px);
}

.checkicon {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  position: relative;
  background: #E3E4F1;
  cursor: pointer;
}
.checkicon:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  min-height: 22px;
  min-width: 22px;
  border-radius: 50%;
  transition: var(--change-transition);
}
@media screen and (min-width: 769px) {
  .checkicon:hover {
    background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  }
}

.todo-box {
  margin-top: 24px;
  transition: var(--change-transition);
  background: var(--main-bg);
  box-shadow: var(--shadow-color);
  border-radius: 5px;
}
.todo-box__item {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  position: relative;
  transition: var(--change-transition);
  border-bottom: 2px solid var(--line-color);
}
@media screen and (min-width: 769px) {
  .todo-box__item:hover .item__x {
    opacity: 1;
    visibility: visible;
  }
}
.item__checkicon::before {
  transition: var(--change-transition);
  background: var(--main-bg);
}
.item__text {
  padding-left: 24px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--text-color);
  word-break: break-all;
}
.item__x {
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
  cursor: pointer;
}

.completed {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--complete-color);
}

.active {
  background: url("../img/icon-check.svg") center no-repeat, linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
}
@media screen and (min-width: 769px) {
  .active:hover {
    background: url("../img/icon-check.svg") center no-repeat, linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  }
}
.active::before {
  display: none;
}

.footer {
  padding: 16px 24px;
  display: none;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495A5;
}
.footer__center {
  display: flex;
  -moz-column-gap: 19px;
       column-gap: 19px;
  font-weight: 700;
}
.footer .footer__text {
  transition: 0.2s;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .footer .footer__text:hover {
    color: var(--hover-color);
  }
}

.active__footer {
  color: #3A7CFD;
}

@media screen and (max-width: 768px) {
  .checkicon {
    background: linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  }
  .active {
    background: url("../img/icon-check.svg") center no-repeat, linear-gradient(hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  }
  .item__x {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin-top: 50px;
  }
  .top__title {
    font-size: 32px;
  }
  .checkicon {
    width: 20px;
    height: 20px;
  }
  .checkicon::before {
    width: 18px;
    height: 18px;
  }
  .form {
    margin-top: 20px;
    padding: 0 20px;
    height: 58px;
  }
  .form__input {
    padding-left: 20px;
    font-size: 15px;
  }
  .todo-box {
    margin-top: 20px;
  }
  .todo-box__item {
    padding: 16px 20px;
  }
  .item__text {
    font-size: 14px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer__left {
    order: 1;
    flex: 0 1 50%;
  }
  .footer__center {
    order: 3;
    flex: 0 1 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .footer__right {
    order: 2;
    flex: 0 1 50%;
    text-align: right;
  }
}